body {
	background: #212121;
	text-align: center;
}
#pic1{
	float: center;
	margin-bottom: 40px;
	margin-top: 40px;
	width: 100%;
}
#pic2{
	float: center;
}
.fade-in.one {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.fade-in.two {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  animation-delay: .1s;
}
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  
  -webkit-animation:fadeIn ease-in 1; 
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards; value (opacity: 1)
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}
@media all and (max-width : 567px) {

div#pic1, div#pic2{
    width: 100%;
    margin: 0;
}
img {
	width: 100%;
	height: 245px;
	margin-bottom: 6%;
}
#first{
	margin-top:60px; 
}
p {
  width: 350px;
  margin-left: 0px;
  float: right;
  margin-right: -45%;
  margin-bottom: 10%;
  }
.descriptions {
  margin-left: 0px;
  margin-bottom: 6%;
}
}
@media all and (max-width : 768px) {

div#pic1, div#pic2{
    width: 100%;
    margin: 0;
}
img {
	width: 100%;
	height: 245px;
	margin-bottom: 6%; }
  p {
  width: 290px;
  margin-left: 0px;
  float: right;
  margin-right: -24%;
  margin-bottom: 10%;
  }
.descriptions {
  margin-left: 0px;
  margin-bottom: 6%;
}
}

nav {
    font-size: 1.2em;
    padding: 0;
    position: inherit;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    height: 1.4em;
    background-color: #424242;
    text-align: center;
}
li {
    display: inline-block;
    text-align: center;
    float: left;
}
nav a {
    padding: 4px 35px;
    color: white;
    text-decoration: none;
    position: inherit;
    font-size: .8em;
}
nav a:hover {
    color: white;
    background-color: #212121;
    height: 1em;
    font-weight: bolder;
}
a:hover {
    color: white;
    font-weight: bolder;
    width: 50%;
}
* {
    margin:0;
    padding:0;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
p {
  color: white;
  font-family: 'Montserrat', sans-serif;

}
.descriptions {
  // margin: 10px 300px 0px 300px;
  width: 50%;
  margin-left: 26%;
  margin-bottom: 4%;
}
#marginss {
  margin-bottom: 20%;
}

