body {
    background-color: #212121;
}
#aboutme {
	font-size: 3.5em;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-top: 14%;
    text-align: center;
}
nav {
    font-size: 1.2em;
    padding: 0;
    position: inherit;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    height: 1.4em;
    background-color: #424242;
    text-align: center;
}
li {
    display: inline-block;
    text-align: center;
    float: right;
}
nav a {
    padding: 4px 35px;
    color: white;
    text-decoration: none;
    position: inherit;
    font-size: .8em;
}
nav a:hover {
    color: white;
    background-color: #212121;
    height: 1em;
    font-weight: bolder;
}
a:hover {
    color: white;
    font-weight: bolder;
    width: 50%;
}
* {
    margin:0;
    padding:0;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#container {
    text-align: center;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 25px;
}
h4 {
    font-size: 40px;
}
#centerabout {
    margin: 40px;
}
@media all and (max-width : 650px) {
#centerabout {
    margin: 10px;}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 25px;
}
h4 {
    font-size: 40px;}
img {
    width: 100%;
    margin-top: 14%;}
}
@media all and (max-width : 768px) {
#centerabout {
    margin: 8px;} 
h1 {
    font-size: 40px;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 19px;
}
h4 {
    font-size: 40px;} 
img {
 width: 100%;
 margin-top: 14%;}
}