
body {
	background: #212121;
	text-align: right;
}
// #pic1{
// 	float: center;
// 	margin-bottom: 40px;
// 	margin-top: 40px;
// 	width: 100%;
// }
// #pic2{
// 	float: center;
// }
#first {
  margin-top: 8%;
  float: left;
  border-radius: 6px;
  margin-right: 2%;
  box-shadow: 2px 2px 12px  #131418;
  margin-left: 3%;
}

#second {
  margin-top: 8%;
  clear: left;
  float: left;
  border-radius: 6px;
  margin-right: 2%;
  box-shadow: 2px 2px 12px  #131418;
  margin-left: 3%;

}
#third {
  margin-top: 8%;
  clear: left;
  float: left;
  border-radius: 6px;
  margin-right: 2%;
  box-shadow: 2px 2px 12px  #131418;
  margin-left: 3%;

}
#starcatcher {
  font-size: 18px;
}
.fade-in.one {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.fade-in.two {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  animation-delay: .1s;
}
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  
  -webkit-animation:fadeIn ease-in 1; 
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards; value (opacity: 1)
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}
@media all and (max-width : 567px) {

div#pic1, div#pic2{
    width: 100%;
    margin: 0;
}
img {
 margin-right: 1%;
}
#first{
  width: 100%;
	margin-top:60px; 
  height: 245px;
}
#second{
  width: 100%;
  height: 245px;
}
#third{
  width: 100%;
  height: 245px;
}
p {
  width: 350px;
  margin-left: 0px;
  float: right;
  margin-right: -45%;
  margin-bottom: 10%;
  }
.descriptions {
  width: 100%;
  margin-left: 0;
  margin-bottom: 6%;
}
body {
  text-align: center;
}
}
@media all and (max-width : 768px) {

div#pic1, div#pic2{
    width: 100%;
    margin: 0;
}
  p {
  width: 100%;
  margin-left: 0px;
  float: right;
  margin-right: -1%;
  margin-bottom: 10%;
  }
.descriptions {
  width: 100%;
  margin-left: 0;
  margin-bottom: 6%;}
  #marginss {
  margin-bottom: 20%;
}
body {
    text-align: center;
    width: 100%;
}

}
nav {
    font-size: 1.2em;
    padding: 0;
    position: inherit;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    height: 1.4em;
    background-color: #424242;
    text-align: center;
}
li {
    display: inline-block;
    text-align: center;
    float: left;
}
nav a {
    padding: 4px 35px;
    color: white;
    text-decoration: none;
    position: inherit;
    font-size: 1em;
}
nav a:hover {
    color: white;
    background-color: #212121;
    height: 1em;
    font-weight: bolder;
}
a:hover {
    color: white;
    font-weight: bolder;
    width: 50%;   
}
button:hover {
  // background-color: rgba(0,0,0,.1);
  font-weight: bolder;
}
* {
    margin:0;
    padding:0;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
p {
  color: white;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size: 3rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
h1:hover {
  font-weight: bolder;
}
h2 {
  font-size: 1.1rem;
  color: white;
font-family: 'Raleway', sans-serif;
}
h3 {
  font-size: .7rem;
  color: white;
  font-family: 'Montserrat', sans-serif; 
}
h4 {
  margin-bottom: 15%;
  color: #212121;
}
h5 {
  margin-bottom: 15%;
  color: #212121;
  margin-top: 0;
}
h6 {
  font-size: 1.2rem;
  font-weight: bolder;
  color: white;
  font-family: 'Montserrat', sans-serif; 
}
.descriptions {
  width: 100%;
  margin-bottom: 4%;
  margin-top: 2%;
  margin-right: 6%;
}
#marginss {
  margin-bottom: 20%;
}
@media only screen 
    and (max-device-width: 640px), 
    only screen and (max-device-width: 667px), 
    only screen and (max-width: 480px)
{ 
.descriptons {
  width: 100%;
  margin: 0;
  }
#first{
  margin-left: 0;
  margin-right: 0;
}
#second{
  margin-left: 0;
  margin-right: 0;
}
#third{
  margin-left: 0;
  margin-right: 0;
}
h4{
  margin-bottom: 0;
}
}


#para{
    margin-top: 6px;
    text-align: center;
}
#centerme{
    text-align: center;
    margin-top: 35px;
}
.linkedin{
    text-align: center;
}
#centerthepage {
  margin: 2%;
}
button {
  background-color: #212121;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2.8rem;
  border: .1px white solid;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif; 
  box-shadow: 2px 2px 12px  #131418;
  position: relative;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.1s ease-in;
  -o-transition:      0.1s ease-in;
  -ms-transition:     0.1s ease-in;
  -moz-transition:    0.1s ease-in;
  -webkit-transition: 0.1s ease-in;
}

.fill:hover {
color: #212121;
}

.fill:before {
  content: "";
  position: absolute;
  background-color: white;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

.fill:hover:before {
  top: 0;
}
